<h2><%= @employee.name %></h2>
<p><b>Department: </b><%= @employee.department.name %></p>
<p><b>Tickets: </b><br><% @employee.tickets.sort_oldest_2_newest.each do |t|%>
                       ID: <%= t.id %>  |  <%= t.subject%> | Age: <%= t.age%><br>
                       <% end%>
<p><b>Oldest ticket assigned:</b> Ticket #<%= @employee.oldest_ticket.id%></p>
